.resultCard {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 15px;
  .card-body {
    padding-top: 1.5rem;
  }
}

.checked {
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 5px;
}

.results {
  overflow: auto;
  padding: 15px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
/*
@media (min-width: 576px) {
  .resultCard {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .resultCard {
    max-width: 600px;
  }
}*/
//
//@media (min-width: 992px) {
//  .resultCard {
//    max-width: 760px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .resultCard {
//    max-width: 1140px;
//  }
//}
