.resultCard {
  width: 100%;
  max-width: 1024px;
  margin-bottom: 15px;
  .card-body {
    padding-top: 1.5rem;
  }
}

.checked {
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 5px;
}

.results {
  overflow: auto;
  padding: 15px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}