@import "src/index";

.results {
  overflow: auto;
  overflow: overlay;
  padding: var(--gap-size) 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &__message-for-users {
    white-space: pre-line;
    width: 100%;
    max-width: 1024px;
    padding: var(--gap-size);
  }

  &.short {
    padding: var(--gap-size-s);
    margin-bottom: 48px;
  }
}

@media (max-width: 1024px) {
  .results {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);

    &.short {
      padding: var(--gap-size-s);
    }
  }
}
