.results {
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-size) 0;
  color: var(--dark);

  &__message-for-users {
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    padding: var(--gap-size);
    white-space: pre-line;
  }

  &.short {
    padding: var(--gap-size-s) 0;
  }
}
