@import "src/index";

.gdpr-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;

  &.hide {
    opacity: 0;
    transition: var(--animation-duration) opacity linear;
    pointer-events: none;
  }

  &__app-name {

  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    text-align: center;
    padding: 15px;
    font-size: 16px;
    max-width: 650px;
  }

  &__link {
    margin-left: 3px;
  }

  &__links {
    text-align: center;
    margin-bottom: 10px;
  }

  &__button {
    cursor: pointer;
    background: var(--primary-color);
    border-radius: .35rem;
    height: 40px;
    padding: 0 10px;
    box-shadow: var(--shadow);
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
  }
}
