.posSelector {
  padding: 15px 15px 0 15px;
  display: flex;
  label {
    width: 60%;
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom: 0;
    line-height: 2.1rem;
    font-size: 1.1rem;
  }
}