.notification-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  pointer-events: none;
}

.notification {
  z-index: 21;
  display: block;
  padding: 2px 10px;
  border-radius: var(--border-radius-m);
  margin-top: 10%;
  background: var(--primary-color);
  box-shadow: var(--shadow);
  color: var(--light);
  font-size: var(--text-ml);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in-out;

  &.error {
    background: var(--invalid-color);
  }

  &.valid {
    background: var(--valid-color);
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}
