.logo {
  margin-right: 10px;
}

.info {
  width: 38px;
  height: 38px;
  position: absolute;
  right: 15px;
}

.navbar-brand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 89%;
}
