.loaderContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  &.loading {
    opacity: 1;
    pointer-events: all;
  }
  .progressBar {
    position: relative;
    .svgIcon {
      transform: rotate(-90deg);
    }
    .progressText {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 10px;
      font-size: 40px;
      font-weight: 500;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
    }
  }
  .progressPercent {
    font-size: 20px;
  }
  .progressTitle {
    font-weight: 500;
    font-size: 35px;
  }
}
