.loaderContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  &.loading {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}
.spinner-border{
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: text-bottom;
  border: .3em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
  height: 1rem;
  border-width: .2em;
}
