@import "src/index";

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  transition: opacity var(--animation-duration) ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 100;

  &.loading {
    opacity: 1;
    pointer-events: all;
  }

  &__spinner {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    vertical-align: text-bottom;
    border: .3em solid var(--primary-color);
    border-right-color: transparent;
    border-radius: 50%;
    animation: loader-spinner-animation .75s linear infinite;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    color: var(--muted-text-color);
  }
}

@keyframes loader-spinner-animation {
  to {
    transform: rotate(360deg);
  }
}
