.loader {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) ease-in-out;

  &.loading {
    opacity: 1;
    pointer-events: all;
  }

  &__title {
    margin-top: 10px;
    color: var(--muted-text-color);
    font-size: 28px;
    font-weight: 500;
  }
}
