{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": "error",
    "import/first": "off",
    "react/react-in-jsx-scope": "off",
    "no-useless-escape": "off",
    "no-fallthrough": "off",
    "no-misleading-character-class": "off",
    "react/prop-types": "off",
    "no-empty": "off",
    "no-multiple-empty-lines": ["error", {
      "max": 2,
      "maxBOF": 0
    }],
    "eol-last": ["error", "always"],
    "newline-before-return": ["error"],
    "indent": ["error", 4, {
      "MemberExpression": 1,
      "SwitchCase": 1
    }],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": ["error", {
      "groups": [
        [
          "^(fs)(/.*|$)"
        ],
        [
          "^(react|redux|react-redux|react-dom|lodash|classnames)(/.*|$)",
          "^(@ag-grid-community|node-fetch)(/.*|$)"
        ],
        [
          "^(consts)(/.*|$)"
        ],
        [
          "^(translations)(/.*|$)"
        ],
        [
          "^(actions|reducers)(/.*|$)"
        ],
        [
          "^(services)(/.*|$)"
        ],
        [
          "^(sw|hooks|legacy|middlewares|routing|utils)(/.*|$)"
        ],
        [
          "^(components)(/.*|$)"
        ],
        [
          "^\\.\\.(?!/?$)", "^\\.\\./?$"
        ],
        [
          "^.+\\.s?css$"
        ]
      ]
    }],
    "object-curly-spacing": ["error", "always"],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["**/legacy/**"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-react",
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-react-hooks",
    "simple-import-sort"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}