/.idea
/coverage
/dist
/node_modules

.DS_Store
/static/data/*
wrangler.toml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/storybook-static

*storybook.log
report.html
