@import "src/index";

.lang-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0 15px;

  option, select {
    text-transform: capitalize;
  }

  &__isv {
    text-transform: capitalize;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 24px;
    padding: 6px 12px 6px 12px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    outline: none;
    min-width: 40%;
    flex: 0 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__another {
    flex: 0 1;
    min-width: 40%;
  }

  &__change-dir-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--primary-color);
    padding: 0;
    width: 30px;
    font-size: 20px;
    height: 30px;
  }
}
