@import "src/index";

.lang-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  option, select {
    text-transform: capitalize;
  }

  &__isv {
    text-transform: capitalize;
    font-size: var(--text-m);
    line-height: var(--text-l-line);
    box-sizing: border-box;
    padding: 4px 6px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    outline: none;
    min-width: 40%;
    flex: 0 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__another {
    flex: 0 1;
    min-width: 40%;

    .selector__select {
      padding: 6px;
    }
  }

  &__change-dir-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    transition: transform var(--animation-duration) ease-in-out;

    &.rotate {
      transform: rotate(180deg);
    }
  }
}
