.lang-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;

  option, select {
    text-transform: capitalize;
  }

  button {
    color: var(--primary-color);
  }

  &__isv {
    overflow: hidden;
    min-width: 40%;
    box-sizing: border-box;
    flex: 0 1;
    padding: 4px 6px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    color: var(--dark);
    font-size: var(--text-m);
    line-height: var(--text-l-line);
    outline: none;
    text-overflow: ellipsis;
    text-transform: capitalize;
  }

  &__another {
    min-width: 40%;
    flex: 0 1;

    .selector__select {
      padding: 6px;
    }
  }

  &__change-dir-button {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    outline: none;
    transition: transform var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out;

    &.rotate {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: rgb(0 123 255 / 25%);
    }

    &:focus {
      outline: var(--outline);
    }
  }
}
