.results-card {
  position: relative;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px 16px 24px;
  border-radius: var(--border-radius-s);
  margin-bottom: var(--gap-size);
  background: var(--light);
  box-shadow: var(--shadow);

  &:focus {
    outline: var(--outline);
  }

  &.selected {
    outline: 4px solid var(--primary-color);
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    color: var(--dark);
    font-weight: 600;
    gap: 4px;
  }

  .translate {
    font-size: var(--text-l);
    line-height: var(--text-l-line);
  }

  .original {
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  &.short {
    overflow: hidden;
    padding: 8px;
    margin-bottom: 8px;

    .results-card {
      &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
  }
}
