.results-card {
  position: relative;
  width: 100%;
  max-width: 1024px;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px 16px 24px;
  border-radius: var(--border-radius-s);
  margin-bottom: var(--gap-size);
  background: var(--light);
  box-shadow: var(--shadow);

  &:focus {
    outline: var(--outline);
  }

  &.selected {
    outline: 4px solid var(--primary-color);
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    color: var(--dark);
    font-weight: 600;
    gap: 4px;
  }

  .translate {
    font-size: var(--text-l);
    line-height: var(--text-l-line);
  }

  .word {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .word + .word::before {
    padding-left: 2px;
    content: "/";
    font-weight: 400;
  }

  .ipa {
    color: var(--muted-text-color);
    font-weight: 500;
  }

  .caseInfo {
    font-weight: 400;
    letter-spacing: -0.5pt;
  }

  &__details {
    color: var(--muted-text-color);
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  .original {
    font-size: var(--text-m);
    line-height: var(--text-m-line);

    .caseInfo {
      font-style: italic;
    }
  }


  &__status-badge {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 2px 4px;
    border-radius: var(--border-radius-s);
    background: var(--invalid-color);
    color: var(--status-badge-color);
    font-size: var(--text-xs);
    font-weight: 700;
    line-height: var(--text-xs-line);

    &.verified {
      background: var(--valid-color);
    }
  }

  &.short {
    overflow: hidden;
    padding: 8px;
    margin-bottom: 8px;

    .results-card {
      &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      &__details {
        color: var(--muted-text-color);
      }

      .translate {
        .results-card__details {
          font-weight: 500;
        }
      }

      &__status-badge {
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        padding: 0;
        border-radius: 0;
        background: linear-gradient(45deg, var(--transperent) 0%, var(--transperent) 50%, var(--invalid-color) 50%, var(--invalid-color) 100%);

        &.verified {
          display: none;
        }
      }
    }
  }

  &__status {
    padding: 0;
    border: none;
    margin: 0 0 0 4px;
    appearance: none;
    background: none;

    /* inline text-like button */
    cursor: pointer;
    font: inherit;
    transition: transform var(--animation-duration) ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}
