.lineSelector {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
  user-select: none;

  .slide {
    background: #2962ff;
    position: absolute;
    pointer-events: none;
    transition: margin-left 0.1s ease-in-out;
    border-radius: .35rem;
    height: 40px;
  }

  .item {
    flex: 1 1 0;
    text-align: center;
    color: #2962ff;
    font-weight: 500;
    transition: color 0.1s ease-in-out;
    z-index: 1;
    line-height: 40px;

    &.active {
      color: #fff;
    }
  }
}
