.lineSelector {
  position: relative;

  .back {
    position: absolute;
    width: 33%;
    pointer-events: none;
    transition: 0.1s;
    z-index: -1;
  }
  .nav-link {
    transition: color 0.1s;
  }
  .activeItem {
    color: #fff;
  }
}
