.lineSelector {
  position: relative;

  .back {
    position: absolute;
    width: 33%;
    pointer-events: none;
    transition: 0.1s;
    z-index: 10;
  }
  .nav-link {
    font-weight: 500;
    transition: color 0.1s;
  }
  .activeItem {
    color: #fff;
  }
  .frontItem {
    z-index: 11;
  }
}
