.lineSelector {
  position: relative;
  display: flex;
  height: 40px;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

  .slide {
    position: absolute;
    height: 40px;
    border-radius: .35rem;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    pointer-events: none;
    transition: margin-left var(--animation-duration) ease-in-out;
  }

  .item {
    z-index: 1;
    flex: 1 1 0;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    transition: color var(--animation-duration) ease-in-out;

    &.active {
      color: var(--primary-color-fg);
    }
  }
}
