.textarea {
  position: relative;
  display: flex;
  flex-direction: column;

  &__error-text {
    color: var(--invalid-color);
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  &__native {
    overflow: auto;
    box-sizing: border-box;
    padding: var(--gap-size-s);
    border: var(--border);
    border-radius: var(--border-radius-s);
    appearance: none;
    background: var(--light);
    color: var(--dark);
    outline: none;
    resize: none;

    &.M {
      font-size: var(--text-m);
      line-height: var(--text-m-line);
    }

    &.L {
      font-size: var(--text-l);
      line-height: var(--text-l-line);
    }
  }

  &.error {
    .textarea__native {
      border: 2px solid var(--invalid-color);
    }
  }
}
