.dictionary {
  display: flex;
  flex-direction: column;
  background: #fff;
  opacity: 1;
  pointer-events: all;
  max-height: 100%;
  height: 100%;
  .controls {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 245px;
    justify-content: space-evenly;
    z-index: 1;
    max-width: 1024px;
  }
}

//@media (min-width: 576px) {
//  .controls {
//    max-width: 540px;
//  }
//}
//
//@media (min-width: 768px) {
//  .controls {
//    max-width: 600px;
//  }
//}
//
//@media (min-width: 992px) {
//  .controls {
//    max-width: 760px;
//  }
//}
//
//@media (min-width: 1200px) {
//  .controls {
//    max-width: 1140px;
//  }
//}
