@import "src/index";

.selector {
  position: relative;
  display: flex;
  white-space: nowrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

  &__title {
    font-size: 18px;
  }

  &__select {
    background: #fff;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--text-m);
    line-height: var(--text-m-line);
    padding: 6px 28px 6px 12px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    outline: none;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 7px;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #666;
  }
}
