.selector {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  color: var(--dark);
  white-space: nowrap;

  &.hide-label {
    label {
      display: none;
    }
  }

  &__title {
    font-size: 18px;
  }

  &__select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 28px 6px 12px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    background: var(--light);
    color: var(--dark);
    cursor: pointer;
    font-size: var(--text-m);
    line-height: var(--text-m-line);
    outline: none;

    &:focus {
      outline: var(--outline);
    }
  }

  &::after {
    position: absolute;
    top: 14px;
    right: 7px;
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid var(--gray-6);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
  }
}
