.isv label {
  text-align: start;
  width: 100%;
  background: #fff;
  border-radius: .25rem !important;
}
.isv, .another {
  width: 40%;
}
.langItem {
  display: inline-block;
}
.changeDir {
  width: 20%;
  text-align: center;
  button {
    font-weight: bold;
    text-decoration: none;
  }
}
