.confirm {
  width: 300px;
  border-radius: var(--border-radius-m);
  background: var(--light);

  &__text {
    padding: 8px;
    font-size: var(--text-m);
    line-height: var(--text-m-line);
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-top: var(--border);

    button {
      width: 100%;

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}
