@import "src/index";

.grammar-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.grammar {
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  pointer-events: all;
  text-align: center;
  max-width: 1024px;
  padding: 16px 8px;

  p {
    margin-bottom: 5px;
  }

  .tablesRow {
    display: flex;
    flex-direction: row;
  }

  .title {
    text-align: center;
    font-weight: bold;
    color: #455A64;
    font-size: 20px;
  }

  .link {
    padding: 5px 20px;
  }

  &__content {
    display: flex;
    flex-flow: column;
    font-size: 15px;
    z-index: 50;

    .card-title {
      margin-bottom: 2px;
    }

    .card__body {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: var(--primary-color);

      &:visited {
        color: var(--primary-color);
      }
    }
  }

  .card {
    margin-bottom: 16px;

    .card__body {
      padding: 8px;
    }
  }

  table.customTable {
    font-size: 9px;
  }

  a.list-group-item {
    transition: color 75ms linear, background-color 75ms linear;
  }
}

@media (min-width: 395px) {
  .grammar {
    table.customTable {
      font-size: 7px;
    }
  }
}

@media (min-width: 465px) {
  .grammar {
    table.customTable {
      font-size: 10px;
    }
  }
}

@media (min-width: 650px) {
  .grammar {
    table.customTable {
      font-size: 15px;
    }
  }
}

@media (min-width: 1024px) {
  .grammar-container {
    overflow-x: hidden;
  }

  .grammar {
    padding-left: calc(100vw - 100% + 245px + 8px);
    max-width: calc(1024px - 235px);
    box-sizing: content-box;
    overflow-x: hidden;

    &__content {
      position: absolute;
      top: 70px;
      left: calc(50% - 515px);
      width: 235px;
    }

    .selected {
      transition: color 75ms linear, background-color 75ms linear;
      z-index: 2;
      color: #fff;
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      border-radius: var(--border-radius-s);

      &:visited {
        color: #fff;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1080px) {
  .grammar {
    padding-left: calc(245px + 8px);
    max-width: calc(100% - 255px);

    &__content {
      left: 10px;
    }
  }
}

@media (min-width: 1530px) {
  .grammar {
    max-width: 1024px;
    padding-left: calc(100vw - 100% + 8px) !important;
    box-sizing: content-box;
    overflow-x: hidden;

    &__content {
      position: absolute;
      top: 70px;
      left: calc(50% - 512px - 245px);
    }
  }
}

@media (max-width: 450px) {
  .grammar {
    td {
      font-size: 2.5vw !important;
    }
  }
}
