.grammarContainer {
  width: 100%;
  height: calc(100% - 60px);
  overflow: overlay;
  scroll-behavior: smooth;
}

.grammar {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  opacity: 0;
  &.show {
    opacity: 1;
    pointer-events: all;
  }
  text-align: center;
  p {
    margin-bottom: 0.3rem;
  }
  .tablesRow {
    display: flex;
    flex-direction: row;
  }
  .title {
    text-align: center;
    font-weight: bold;
    color: #455A64;
    font-size: 1.3rem;
  }
  .link {
    padding: 0.3rem 1.25rem;
  }

  .card {
    &#content {
      font-size: 15px;
      .card-body {
        padding: 0;
      }
      z-index: 50;
      .selected {
        transition: color 75ms linear, background-color 75ms linear;
        z-index: 2;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
      }
    }
    margin-bottom: 1rem;
    .card-body {
      padding: 0.5rem;
    }
  }
  max-width: 1024px;
  table.customTable {
    font-size: 0.55rem;
  }
  a.list-group-item {
    transition: color 75ms linear, background-color 75ms linear;
  }
}

@media (min-width: 395px) {
  .grammar {
    table.customTable {
      font-size: 0.5rem;
    }
  }
}

@media (min-width: 465px) {
  .grammar {
    table.customTable {
      font-size: 0.7rem;
    }
  }
}

@media (min-width: 650px) {
  .grammar {
    table.customTable {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1055px) {
  .card#content {
    position: absolute;
    top: 70px;
    left: calc(50% - 525px);
  }
  .grammar {
    padding-left: 245px;
    max-width: calc(1024px - 235px);
    box-sizing: content-box;
  }
}

@media (min-width: 1530px) {
  .card#content {
    position: absolute;
    top: 70px;
    left: calc(50% - 512px - 250px);
  }
  .grammar {
    max-width: 1024px;
    padding-left: 0 !important;
    box-sizing: content-box;
  }
}
