.grammarContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

.grammar {
  width: 100%;
  padding-top: 15px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  //transition: opacity 2s linear;
  pointer-events: all;
  //opacity: 1;
  text-align: center;
  p {
    margin-bottom: 0.3rem;
  }
  .tablesRow {
    display: flex;
    flex-direction: row;
  }
  .title {
    text-align: center;
    font-weight: bold;
    color: #455A64;
    font-size: 1.3rem;
  }
  .link {
    padding: 0.3rem 1.25rem;
  }

  .card {
    &#content {
      font-size: 15px;
      .card-title {
        margin-bottom: 0.1rem;
      }
      .card-body {
        padding: 0;
      }
      z-index: 50;
    }
    margin-bottom: 1rem;
    .card-body {
      padding: 0.5rem;
    }
  }
  max-width: 1024px;
  table.customTable {
    font-size: 0.55rem;
  }
  a.list-group-item {
    transition: color 75ms linear, background-color 75ms linear;
  }
}

@media (min-width: 395px) {
  .grammar {
    table.customTable {
      font-size: 0.5rem;
    }
  }
}

@media (min-width: 465px) {
  .grammar {
    table.customTable {
      font-size: 0.7rem;
    }
  }
}

@media (min-width: 650px) {
  .grammar {
    table.customTable {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .card#content {
    position: absolute;
    top: 70px;
    left: calc(50% - 515px);
    width: 235px;
  }
  .grammarContainer {
    overflow-x:hidden;
  }
  .grammar {
    padding-left: calc(100vw - 100% + 245px + 0.5rem);
    max-width: calc(1024px - 235px);
    box-sizing: content-box;
    overflow-x: hidden;
    .selected {
      transition: color 75ms linear, background-color 75ms linear;
      z-index: 2;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1080px) {
  .grammar {
    padding-left: calc(245px + 0.5rem);
    max-width: calc(100% - 255px);
  }
  .card#content {
    left: 10px;
  }
}

@media (min-width: 1530px) {
  .card#content {
    position: absolute;
    top: 70px;
    left: calc(50% - 512px - 245px);
  }
  .grammar {
    max-width: 1024px;
    padding-left: calc(100vw - 100% + 0.5rem) !important;
    box-sizing: content-box;
    overflow-x: hidden;
  }
}
