.expand {
  &__container {
    overflow: hidden;
    transition: max-height var(--animation-duration) linear, opacity var(--animation-duration) linear;
    max-height: 0;
    opacity: 0;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  &__button-wrap {
    padding-top: 2px;
  }

  &__button {
    display: block;
    transition: transform var(--animation-duration) linear;
    cursor: pointer;
    background: var(--light);
    width: 21px;
    height: 16px;
    padding: 0;
    border: none;
    margin: 3px auto;
    outline: none;
  }

  &.expanded {
    .expand__button {
      transform: rotate(180deg);
    }

    .expand__container {
      max-height: 400px;
      opacity: 1;
    }
  }
}
