#app {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}
.container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
  overflow: hidden;
}

.flav {
  display: flex;
  label {
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom: 0;
    line-height: 2.1rem;
    font-size: 1.1rem;
  }
}
