@import "src/index";

.results-empty {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
  color: var(--muted-text-color);

  &__smile {
    white-space: nowrap;
  }

  &__filter {
    margin-top: 5px;
    font-size: 24px;
    padding: 0 15px;
  }

  &__button {
    margin-top: 20px;
    cursor: pointer;
    background: var(--primary-color);
    border-radius: .35rem;
    height: 40px;
    padding: 0 10px;
    box-shadow: var(--shadow);
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
  }
}
