.results-empty {
  font-size: var(--text-xxl);
  font-weight: 600;
  text-align: center;
  margin-top: 100px;

  &__smile {
    white-space: nowrap;
  }

  &__filter {
    margin-top: 5px;
    font-size: var(--text-l);
    padding: 0 15px;
    color: var(--muted-text-color);
  }

  &__button {
    margin-top: 20px;
    cursor: pointer;
    background: var(--primary-color);
    border-radius: .35rem;
    height: 40px;
    padding: 0 10px;
    box-shadow: var(--shadow);
    font-weight: 500;
    outline: none;
    border: none;
    color: var(--light);
    font-size: var(--text-m);
  }
}
