.results-empty {
  margin-top: 100px;
  font-size: var(--text-xxl);
  font-weight: 600;
  text-align: center;

  &__smile {
    white-space: nowrap;
  }

  &__filter {
    padding: 0 15px;
    margin-top: 5px;
    color: var(--muted-text-color);
    font-size: var(--text-l);
  }

  &__button {
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: .35rem;
    margin-top: 20px;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    color: var(--light);
    cursor: pointer;
    font-size: var(--text-m);
    font-weight: 500;
    outline: none;
  }
}
