.about {
  width: 100%;
  background: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin-bottom: 0;
  }
  opacity: 1;
  pointer-events: all;
  height: calc(100% - 60px);
  max-height: calc(100% - 60px);
}

.aboutContent {
  max-width: 1024px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .aboutContent {
    padding-left: calc(100vw - 100% + 15px);
  }
  .about {
    overflow-x: hidden;
    box-sizing: content-box;
  }
}


.buildHash {
  text-align: center;
}

