@import "src/index";

.about-page {
  width: 100%;
  height: 100%;
  font-size: 16px;

  p {
    padding: 5px 0;
  }

  a {
    display: block;
  }

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
  }

  &__author {
    margin-bottom: 5px;

    a {
      margin-left: 5px;
    }
  }

  &__release-date {
    text-align: center;
    color: var(--muted-text-color);
    font-size: 16px;
    margin-bottom: 45px;
  }
}
