.about-page {
  width: 100%;
  height: 100%;
  font-size: 16px;

  p {
    padding: 5px 0;
  }

  .new::before {
    content: 'NEW';
    background-color: var(--invalid-color);
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    line-height: 1;
    vertical-align: super;
    padding: 2px 3px;
    margin: 0 1ch 0 0;
  }

  .highlight {
    background-color: rgba(201, 216, 255, 0);
    transition: background-color 1s ease-in;

    &.on {
      background-color: rgba(201, 216, 255, 1);
    }
  }

  a {
    display: block;
  }

  .no-wrap {
    white-space: nowrap;
  }

  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 16px;
  }

  &__author {
    margin-bottom: 5px;

    a {
      margin-left: 5px;
    }
  }

  &__release-date {
    text-align: center;
    color: var(--muted-text-color);
    font-size: 16px;
    margin-bottom: 45px;
  }
}

@keyframes fade-highlight {
  from { background-color: rgba(201, 216, 255, 1); }
  to { background-color: rgba(201, 216, 255, 0); }
}
