.tips {
    cursor: help;

    &::after {
        position: absolute;
        padding: 0.35rem;
        border-radius: 0.25rem;
        background-color: var(--tips-background-color);
        color: var(--tips-font-color);
        white-space: nowrap;
    }

    &:hover, &:focus {
        &::after {
            content: attr(data-tips);
        }
    } 

    .tipsSymbol::after {
        color: var(--muted-text-color);
        content: 'ⓘ';
        font-size: smaller;
    }
}