.settings {
  max-width: 1024px;
  box-sizing: border-box;
  padding: 16px;
  margin: 0 auto 56px;
  pointer-events: all;

  &__reload {
    padding: 10px;
    border: none;
    border-radius: .35rem;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    color: var(--light);
    cursor: pointer;
    font-size: var(--text-m);
    font-weight: 500;
    outline: none;
    text-decoration: none;
  }

  &__add-langs-title {
    display: flex;
    align-items: center;

    .spinner {
      margin-left: 5px;
    }
  }

  &__add-langs-loading {
    opacity: 0.3;
    pointer-events: none;
  }
}
