@import "src/index";

.controls {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  min-height: 150px;
  box-shadow: var(--shadow);
  border: var(--border);
  border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
  transition: min-height 0.2s ease-in-out;
  z-index: 1;
  max-width: 1024px;

  &__expand-container {
    overflow: hidden;
    transition: height 0.2s linear, opacity 0.2s ease-in-out;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .inputText {
    margin-bottom: 7px;
    transition: margin-bottom 0.2s ease-in-out;
  }

  &.expand {
    min-height: 306px;

    .inputText {
      margin-bottom: 15px;
    }

    .controls__expand-container {
      opacity: 1;
      height: 153px;
    }

    .controls__expand-button {
      transform: rotate(270deg);
    }
  }

  &__expand-button {
    display: block;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    background:
      url("data:image/svg+xml,%3Csvg version='1.1' id='expand' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='451.846px' height='451.847px' viewBox='0 0 451.846 451.847' style='enable-background:new 0 0 451.846 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%236c757d' d='M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744 L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284 c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z'/%3E%3C/g%3E%3C/svg%3E")
      no-repeat
    ;
    background-size: 20px;
    width: 16px;
    height: 20px;
    padding: 0;
    border: none;
    transform: rotate(90deg);
    margin: 0 auto;
    outline: none;
  }
}

@media (max-width: 1024px) {
  .controls {
    border-radius: 0;
  }
}
