.viewer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &-offline {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__loader {
    z-index: 100;
    opacity: .8;
    background: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin: var(--gap-size-s);

    .button {
      margin-right: var(--gap-size-s);
    }
  }

  .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell,
  .ag-theme-balham .ag-cell, .ag-theme-balham .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    padding: 0 6px;
  }
}
