.context-menu {
  position: absolute;
  z-index: 100;
  display: flex;
  max-width: 250px;
  flex-direction: column;
  padding: var(--gap-size-s) var(--gap-size-s) 0;
  border-radius: var(--border-radius-m);
  background: var(--light);
  box-shadow: var(--shadow);
  opacity: 1;
  transition: opacity var(--animation-duration) ease-in-out;

  &__text {
    padding-right: 22px;
    margin-bottom: var(--gap-size-s);
    font-size: var(--text-m);
    line-height: var(--text-m-line)
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .button {
    margin-bottom: var(--gap-size-s);
    text-align: center;
  }
}
