@import 'src/mixins';

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 8px 16px;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
  z-index: 10;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    left: -50vw;
    right: -50vw;
    height: 100%;
    background-color: var(--header-background-color);
    z-index: -1;
  }

  .show-menu-button {
    display: none;
    border: 1px solid var(--gray-5);
    border-radius: 4px;
    box-sizing: content-box;
    padding: 3px;
    z-index: 10;

    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: var(--line-length);
    height: var(--line-length);

    &:focus {
      outline:0;
    };

    &>.lines {
      display: block;
      width: var(--line-length);
      height: var(--line-width);
      background-color: var(--light);
      position: relative;
      @include changeState;

      &::before, &::after {
        @include changeState;
        display: block;
        content: '';
        position: absolute;
        width: var(--line-length);
        height: var(--line-width);
        background-color: var(--light);
      }

      &::after {
        margin-top: calc(-1 * var(--base-margin));
      }

      &::before {
        margin-top: var(--base-margin);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0);

        &::before, &::after {
          margin-top: 0;
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-item {
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    font-size: var(--text-m);
    line-height: var(--text-l-line);
    color: var(--gray-9);
    white-space: nowrap;
    transition: color var(--animation-duration) linear;
    position: relative;

    &.active {
      color: var(--light);

      &:after {
        opacity: 1;
      }
    }

    &:hover {
      color: var(--gray-d);
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }

    &:after {
      transition: opacity var(--animation-duration) linear;
      opacity: 0.8;
      content: attr(data-sub-title);
      color: var(--primary-color);
      font-size: 10px;
      position: absolute;
      right: 0;
      top: -50%;
    }
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    margin: 0;

    &-img {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .hasBadge::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    pointer-events: none;
    opacity: 0;
    animation: 0.3s show forwards;
  }
}

.header.mobile {
  flex-wrap: wrap;

  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 54px;
    max-height: 0;
    opacity: 0;
    transition: max-height var(--animation-duration) linear, opacity var(--animation-duration) linear;
    pointer-events: none;

    &-item {
      margin-top: 8px;
      margin-bottom: 8px;
      //height: 40px
    }

    &.active {
      max-height: 500px;
      opacity: 1;
      pointer-events: all;
    }
  }

  .logo {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 33px;

    &-text {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      
      &:after {
        content: ' ';
        width: 28px;
        height: 28px;
        background-image: url(data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23662113' d='M22.088 32.83c0 1.997-1.619 2.712-3.616 2.712s-3.616-.715-3.616-2.712l.904-8.136c0-1.996.715-1.808 2.712-1.808 1.997 0 2.712-.188 2.712 1.808l.904 8.136z'/%3E%3Cpath fill='%235C913B' d='M30.59 27.675c-6.294-5.392-8.843-13.112-12.118-13.112s-5.824 7.721-12.118 13.112c-2.645 2.266-1.385 3.577 2.241 3.314 3.232-.233 6.255-.966 9.877-.966s6.646.733 9.876.966c3.627.263 4.886-1.049 2.242-3.314z'/%3E%3Cpath fill='%233E721D' d='M28.546 25.538c-4.837-4.435-7.555-10.787-10.074-10.787-2.517 0-5.236 6.352-10.073 10.787-3.844 3.524 5.037 4.315 10.073 0 5.034 4.316 13.917 3.524 10.074 0z'/%3E%3Cpath fill='%235C913B' d='M28.546 21.945c-4.837-4.143-7.555-10.077-10.074-10.077-2.517 0-5.236 5.934-10.073 10.077-3.844 3.292 5.037 4.031 10.073 0 5.034 4.032 13.917 3.292 10.074 0z'/%3E%3Cpath fill='%233E721D' d='M26.336 19.003c-3.775-3.235-5.897-7.868-7.864-7.868-1.965 0-4.088 4.632-7.864 7.868-3 2.57 3.932 3.147 7.864 0 3.93 3.146 10.865 2.57 7.864 0z'/%3E%3Cpath fill='%235C913B' d='M26.336 16.311c-3.775-3.235-5.897-7.867-7.864-7.867-1.965 0-4.088 4.632-7.864 7.867-3 2.571 3.932 3.147 7.864 0 3.93 3.147 10.865 2.571 7.864 0z'/%3E%3Cpath fill='%233E721D' d='M24.818 13.92c-3.047-2.61-4.76-6.349-6.347-6.349-1.586 0-3.299 3.739-6.347 6.349-2.422 2.075 3.174 2.54 6.347 0 3.174 2.54 8.77 2.075 6.347 0z'/%3E%3Cpath fill='%235C913B' d='M24.818 11.894c-3.047-2.61-4.76-6.349-6.347-6.349-1.586 0-3.299 3.739-6.347 6.349-2.422 2.075 3.174 2.54 6.347 0 3.174 2.54 8.77 2.075 6.347 0z'/%3E%3Cpath fill='%233E721D' d='M23.301 8.911C20.983 6.925 19.68 4.08 18.472 4.08c-1.207 0-2.511 2.845-4.83 4.831-1.843 1.579 2.415 1.933 4.83 0 2.414 1.933 6.673 1.579 4.829 0z'/%3E%3Cpath fill='%235C913B' d='M23.301 7.832C20.983 5.845 19.68 3 18.472 3c-1.207 0-2.511 2.845-4.83 4.832-1.843 1.579 2.415 1.933 4.83 0 2.414 1.932 6.673 1.578 4.829 0z'/%3E%3Ccircle fill='%23FFCC4D' cx='16.5' cy='12.042' r='1.5'/%3E%3Ccircle fill='%23FFCC4D' cx='20' cy='25' r='2'/%3E%3Ccircle fill='%23DD2E44' cx='22.5' cy='15.5' r='2.5'/%3E%3Ccircle fill='%23DD2E44' cx='10' cy='26' r='2'/%3E%3Ccircle fill='%23A6D388' cx='14' cy='19' r='2'/%3E%3Ccircle fill='%23A6D388' cx='26' cy='23' r='2'/%3E%3Cpath fill='%23FFAC33' d='M19.379 1.679c.143.275.512.549.817.609l1.379.269c.305.06.377.29.159.512l-.983 1.004c-.217.222-.365.657-.326.965l.17 1.394c.038.309-.159.448-.438.31L18.9 6.117c-.279-.138-.738-.144-1.02-.013l-1.274.594c-.282.13-.476-.014-.43-.322l.205-1.39c.045-.307-.091-.745-.302-.973l-.959-1.027c-.212-.227-.135-.457.172-.508l1.385-.234c.307-.051.681-.316.832-.588L18.19.427c.151-.272.394-.269.537.006l.652 1.246z'/%3E%3C/svg%3E
      }
    }
  }

  .show-menu-button {
    display: block;
    position: absolute;
    right: 16px;
    top: 12px;
    background: var(--header-background-color);

    &.hasBadge::after {
      right: -4px;
      top: -4px;
    }

    &.expanded.hasBadge::after {
      animation: 0.3s hide forwards;
    }
  }
}

.header.full {
  padding-left: 0;
  padding-right: 0;
}
