.header {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  max-width: 1052px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);

  &::before {
    position: absolute;
    z-index: -1;
    right: -50vw;
    left: -50vw;
    height: 100%;
    background-color: var(--header-background-color);
    content: '';
  }

  .show-menu-button {
    z-index: 10;
    display: none;
    width: var(--line-length);
    height: var(--line-length);
    box-sizing: content-box;
    padding: 3px;
    border: 1px solid var(--gray-5);
    border-radius: 4px;
    background: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: inherit;

    &:focus {
      outline:0;
    };

    &>.lines {
      position: relative;
      display: block;
      width: var(--line-length);
      height: var(--line-width);
      background-color: var(--light);
      transition:
        transform var(--animation-duration) linear,
        margin var(--animation-duration) linear,
        background-color var(--animation-duration) linear
      ;

      &::before, &::after {
        position: absolute;
        display: block;
        width: var(--line-length);
        height: var(--line-width);
        background-color: var(--light);
        content: '';
        transition:
          transform var(--animation-duration) linear,
          margin var(--animation-duration) linear,
          background-color var(--animation-duration) linear
        ;
      }

      &::after {
        margin-top: calc(-1 * var(--base-margin));
      }

      &::before {
        margin-top: var(--base-margin);
      }

      &.active {
        background-color: rgb(0 0 0 / 0%);

        &::before, &::after {
          margin-top: 0;
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-item {
    position: relative;
    margin-left: 10px;
    color: var(--gray-a);
    cursor: pointer;
    font-size: var(--text-m);
    font-weight: 500;
    line-height: var(--text-l-line);
    transition: color var(--animation-duration) linear;
    white-space: nowrap;

    &.active {
      color: var(--light);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      position: absolute;
      top: -50%;
      right: 0;
      color: var(--primary-color);
      content: attr(data-sub-title);
      font-size: 10px;
      opacity: 0.8;
      transition: opacity var(--animation-duration) linear;
    }

    &:hover {
      color: var(--gray-d);
      text-decoration: none;

      &::after {
        opacity: 1;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    margin: 0;
    color: var(--light);
    font-size: var(--text-l);
    font-weight: 500;
    white-space: nowrap;

    @media (width <= 395px) {
      font-size: var(--text-ml);
    }

    &-img {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .badge::after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: 0.3s show forwards;
    background-color: var(--primary-color);
    content: '';
    opacity: 0;
    pointer-events: none;
  }
}

.header.mobile {
  flex-wrap: wrap;

  .menu {
    width: 100%;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;

    &.anim {
      transition: max-height var(--animation-duration) linear, opacity var(--animation-duration) linear;
    }

    &-item {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &.active {
      max-height: 500px;
      opacity: 1;
      pointer-events: all;
    }
  }

  .logo {
    overflow: hidden;
    padding-right: 33px;
    text-overflow: ellipsis;

    &-text {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .show-menu-button {
    position: absolute;
    top: 12px;
    right: 16px;
    display: block;
    background: var(--header-background-color);

    &.badge::after {
      top: -4px;
      right: -4px;
    }

    &.expanded.badge::after {
      animation: 0.3s hide forwards;
    }
  }
}
