.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 8px 16px;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
  z-index: 10;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    left: -50vw;
    right: -50vw;
    height: 100%;
    background-color: var(--header-background-color);
    z-index: -1;
  }

  .show-menu-button {
    display: none;
    border: 1px solid var(--gray-5);
    border-radius: 4px;
    box-sizing: content-box;
    padding: 3px;
    z-index: 10;

    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: var(--line-length);
    height: var(--line-length);

    &:focus {
      outline:0;
    };

    &>.lines {
      display: block;
      width: var(--line-length);
      height: var(--line-width);
      background-color: var(--light);
      position: relative;
      transition:
        transform var(--animation-duration) linear,
        margin var(--animation-duration) linear,
        background-color var(--animation-duration) linear
      ;

      &::before, &::after {
        transition:
          transform var(--animation-duration) linear,
          margin var(--animation-duration) linear,
          background-color var(--animation-duration) linear
        ;
        display: block;
        content: '';
        position: absolute;
        width: var(--line-length);
        height: var(--line-width);
        background-color: var(--light);
      }

      &::after {
        margin-top: calc(-1 * var(--base-margin));
      }

      &::before {
        margin-top: var(--base-margin);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0);

        &::before, &::after {
          margin-top: 0;
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-item {
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    font-size: var(--text-m);
    line-height: var(--text-l-line);
    color: var(--gray-a);
    white-space: nowrap;
    transition: color var(--animation-duration) linear;
    position: relative;

    &.active {
      color: var(--light);

      &:after {
        opacity: 1;
      }
    }

    &:hover {
      color: var(--gray-d);
      text-decoration: none;

      &:after {
        opacity: 1;
      }
    }

    &:after {
      transition: opacity var(--animation-duration) linear;
      opacity: 0.8;
      content: attr(data-sub-title);
      color: var(--primary-color);
      font-size: 10px;
      position: absolute;
      right: 0;
      top: -50%;
    }
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    font-size: var(--text-l);
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    margin: 0;

    @media (max-width: 395px) {
      font-size: var(--text-ml);
    }

    &-img {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .badge::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary-color);
    pointer-events: none;
    opacity: 0;
    animation: 0.3s show forwards;
  }
}

.header.mobile {
  flex-wrap: wrap;

  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 54px;
    max-height: 0;
    opacity: 0;
    transition: max-height var(--animation-duration) linear, opacity var(--animation-duration) linear;
    pointer-events: none;

    &-item {
      margin-top: 8px;
      margin-bottom: 8px;
      //height: 40px
    }

    &.active {
      max-height: 500px;
      opacity: 1;
      pointer-events: all;
    }
  }

  .logo {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 33px;

    &-text {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .show-menu-button {
    display: block;
    position: absolute;
    right: 16px;
    top: 12px;
    background: var(--header-background-color);

    &.badge::after {
      right: -4px;
      top: -4px;
    }

    &.expanded.badge::after {
      animation: 0.3s hide forwards;
    }
  }
}

.header.full {
  padding-left: 0;
  padding-right: 0;
}
