@import "src/index";

@mixin changeState {
  transition:
          transform var(--animation-duration) linear,
          margin var(--animation-duration) linear,
          background-color var(--animation-duration) linear
  ;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #343a40;
  padding: 8px 16px;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
  z-index: 10;

  &__show-menu-button {
    display: none;
    border: 1px solid #555;
    border-radius: 4px;
    box-sizing: content-box;
    padding: 3px;
    z-index: 10;

    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: var(--line-length);
    height: var(--line-length);

    &:focus {
      outline:0;
    };

    &>.lines {
      display: block;
      width: var(--line-length);
      height: var(--line-width);
      background-color: #fff;
      position: relative;
      @include changeState;

      &::before, &::after {
        @include changeState;
        display: block;
        content: '';
        position: absolute;
        width: var(--line-length);
        height: var(--line-width);
        background-color: #fff;
      }

      &::after {
        margin-top: calc(-1 * var(--base-margin));
      }

      &::before {
        margin-top: var(--base-margin);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0);

        &::before, &::after {
          margin-top: 0;
        }

        &::after {
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item {
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    transition: color var(--animation-duration) linear;

    &.active {
      color: #fff;
    }

    &:hover {
      color: #ddd;
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    margin: 0;

    &-img {
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

@media (max-width: 630px) {
  .header {
    flex-wrap: wrap;

    &__menu {
      flex-direction: column;
      align-items: center;
      width: 100%;
      top: 54px;
      max-height: 0;
      opacity: 0;
      transition: max-height var(--animation-duration) linear, opacity var(--animation-duration) linear;
      pointer-events: none;

      &-item {
        line-height: 40px;
        //height: 40px
      }

      &.active {
        max-height: 500px;
        opacity: 1;
        pointer-events: all;
      }
    }

    &__logo {
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 33px;

      &-text {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &__show-menu-button {
      display: block;
      position: absolute;
      right: 16px;
      top: 12px;
      background: #343a40;
    }
  }
}

@media (min-width: 1050px) {
  .header {
    padding-left: calc(50% - 510px);
    padding-right: calc(50% - 510px);
  }
}
