.logo {
  margin-right: 10px;
}

$lineWidth: 0.2rem;
$lineLength: 1.6rem;
$baseMargin: 0.5rem;
$animationDuration: 0.2s;

@mixin changeState {
  transition:
          transform $animationDuration linear,
          margin $animationDuration linear,
          background-color $animationDuration linear
  ;
}

.showMenu {
  &:focus {
    outline:0;
  }
  border: 1px solid #555;
  border-radius: 0.25rem;
  box-sizing: content-box;
  padding: 0.2rem;
  z-index: 10;

  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  width: $lineLength;
  height: $lineLength;

  &>span {
    display: block;
    width: $lineLength;
    height: $lineWidth;
    background-color: #fff;
    position: relative;
    @include changeState;
    &::before, &::after {
      @include changeState;
      display: block;
      content: '';
      position: absolute;
      width: $lineLength;
      height: $lineWidth;
      background-color: #fff;
    }
    &::after {
      margin-top: -$baseMargin;
    }
    &::before {
      margin-top: $baseMargin;
    }
  }

  &[data-active='true'] {
    &>span {
      background-color: rgba(0, 0, 0, 0);
      &::before, &::after {
        margin-top: 0;
      }
      &::after {
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }
    }
  }
}

.navMenu {
  max-height: 0;
  opacity: 0;
  transition: max-height $animationDuration linear, opacity $animationDuration linear;
  pointer-events: none;
}

.navMenu.menuIsVisible {
  max-height: 500px;
  opacity: 1;
  pointer-events: all;
}

.navbar-brand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 3.5rem);
  img {
    cursor: pointer;
  }
}

.header {
  z-index: 90;
}

@media (min-width: 1050px) {
  #app .header {
    padding-left: calc(50% - 510px);
    padding-right: calc(50% - 510px);
  }
}

@media (max-width: 599px) {
  .navMenu {
    width: 100%;
    ul {
      width: 100%;
      li {
        width: 100%;
        button {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .showMenu {
    display: none;
  }
  .navMenu {
    pointer-events: all;
    opacity: 1;
    max-height: initial;
    ul {
      width: 100%;
      flex-direction: row;
      li {
        margin-left: 10px;
      }
    }
  }
  .navbar-brand {
    width: auto;
  }
}

@media ( max-width: 400px) {
  #app .navbar-brand {
    font-size:5vw;
  }
}
