.about-page {
  width: 100%;
  height: 100%;
  font-size: var(--text-m);

  &__common {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  a {
    display: block;
  }

  .no-wrap {
    white-space: nowrap;
  }

  &__container {
    max-width: 1024px;
    padding: var(--text-m);
    margin: 0 auto;
  }

  &__author {
    margin-bottom: 5px;

    a {
      margin-left: 5px;
    }
  }

  &__release-date {
    margin-bottom: 45px;
    color: var(--muted-text-color);
    font-size: var(--text-m);
    text-align: center;
  }

  &__community-links {
    display: flex;
    flex-direction: column;
  }

  &__badges {
    display: flex;
    flex-flow: row wrap;

    @media (width >= 400px) {
      > .badge_google-play {
        margin-left: -13px;
      }
    }

    @media (width <= 400px) {
      justify-content: center;
    }
  }
}
