.modal-dialog {
  position: relative;
  z-index: 25;
  display: flex;
  max-width: 1000px;
  max-height: 100%;
  flex-direction: column;
  padding: 0;
  border: none;
  border-radius: var(--border-radius-s);
  background: var(--light);
  transition: opacity var(--animation-duration) ease-in-out;

  &-back {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    opacity: 0.5;
  }

  &-container {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) ease-in-out;

    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: var(--border);

    &-title {
      color: var(--dark);
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;

      .details {
        font-style: italic;
        font-weight: 400;
      }
    }

    &-close {
      border: none;
      background: none;
      color: var(--light-gray-color);
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      outline: none;
      transition: var(--animation-duration) color ease-in-out;

      &:hover {
        color: var(--muted-text-color);
      }
    }
  }

  &__body {
    overflow: auto;
    min-width: 500px;

    @media (width <= 678px) {
      min-width: 90vw;
      padding: .5vh 2.5vw;
    }

    @media (width <= 450px) {
      min-width: 90vw;

      td, td span {
        font-size: 2.5vw !important;
      }
    }
  }

  &__body, &__footer {
    padding: 12px 24px;

    @media (width <= 678px) {
      padding: .5vh 2.5vw;
    }
  }

  &__footer {
    border-top: var(--border);
    line-height: 1.5;

    @media (width <= 450px) {
      font-size: 3vw;
    }
  }
}
