@import "src/index";

.checkbox {
  display: inline-flex;
  margin: 0 8px 8px 0;
  align-items: center;
  height: 16px;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__label {
    display: flex;
    align-items: center;

    &::before {
      flex: 1 0 auto;
      cursor: pointer;
      margin-right: 8px;
      display: block;
      font-weight: 400 !important;
      content: "✔";
      color: #fff;
      width: 16px;
      height: 16px;
      border: var(--border);
      border-radius: var(--border-radius-s);
      background: #fff;
      transition: background-color .1s ease-in-out;
      line-height: 16px;
      text-align: center;
      font-size: 13px;
    }

    &[data-checked=true] {
      &::before {
        background: var(--primary-color);
        border-color: transparent;
      }
    }
  }
}
