.input-text {
  position: relative;

  &-size-m {

  }

  &-size-l {

  }

  &__input {
    width: 100%;
    padding: 8px 16px;
    border: var(--border);
    border-radius: var(--border-radius-s);
    background: var(--light);
    color: var(--dark);
    font-size: var(--text-l);
    font-weight: 500;
    line-height: 30px;

    &:focus {
      outline: var(--outline);
    }

    &:not([value=""]) {
      color: var(--dark);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance:none;
    }
  }

  &__clear-button {
    position: absolute;
    z-index: 10;
    top: 9px;
    right: 4px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--light);
    color: var(--muted-text-color);
    cursor: pointer;
    font-family: Impact, fantasy;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    outline: none;
    transition: background var(--animation-duration);

    &:focus {
      outline: 0;
    }

    &:hover,
    &:focus {
      background-color: rgb(0 123 255 / 25%);
    }

    &[disabled] {
      display: none;
    }
  }
}
