#app .customModal {
  border: none;
  background: none;

  &::backdrop {
    background: rgba(0, 0, 0, 0.4);
  }
}

#app .customModalContent {
  .modal-title i {
    font-weight: normal;
  }

  > .modal-body {
    .word { text-align: center; }

    @media (min-width: 678px) {
      font-size: 1rem;
    }

    @media (max-width: 678px) {
      font-size: 2.5vw;
    }
  }

  .customTable {
    th,
    td {
      white-space: normal;
    }
  }

  > .modal-footer {
    justify-content: center;

    .lineSelector {
      width: 100%;
    }
  }
}

//@media (max-width: 575px) {
//  .customModalDialog {
//    flex-basis: 100%;
//      //.modal-body {
//      //  font-size: 2.5vw;
//      //}
//  }
//}
