#app {
  .customModal {
    border: none;
    background: none;
    padding: 0;

    &::backdrop,
    & + .backdrop {
      background: rgba(0, 0, 0, 0.4);
    }

    .modal-header {
      align-items: center;
    }
  }

  .customCloseModal {
    appearance: none;
    background: none;
    border: 0;
    border-radius: 50%;
    padding: 0;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0.25em;
    font-size: 200%;

    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }

    > * {
      position: absolute;
    }

    &:focus {
      outline: 0;
    }

    &:hover,
    &:focus {
      background-color: rgba(0, 123, 255, .25);
    }
  }

  .customModalContent {
    .modal-title i {
      font-weight: normal;
    }

    > .modal-body {
      .word { text-align: center; }

      @media (min-width: 678px) {
        font-size: 1rem;
      }

      @media (max-width: 678px) {
        font-size: 2.5vw;
      }
    }

    .customTable {
      th,
      td {
        white-space: normal;
      }
    }

    > .modal-footer {
      justify-content: center;

      .lineSelector {
        width: 100%;
      }
    }
  }
}

//@media (max-width: 575px) {
//  .customModalDialog {
//    flex-basis: 100%;
//      //.modal-body {
//      //  font-size: 2.5vw;
//      //}
//  }
//}
