.modal {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  visibility: hidden;
  &.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  background: rgba(1, 1, 1, 0.5);
  .modal-dialog {
    pointer-events: auto;
    button.close {
      outline: 0;
    }
    z-index: 1070;

    .modal-title {
      i {
        font-weight: normal;
      }
    }
    .modal-body {
      overflow-y: scroll;
      max-height: 80vh;
      .word {
        text-align: center;
      }
    }

    .modal-footer {
      justify-content: center;
      .lineSelector {
        width: 100%;
      }
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    flex-basis: 500px;
  }
  .modal-body {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .modal-dialog {
    flex-basis: 100%;
    .modal-body {
      font-size: 3vw;
    }
  }
}
