.resultCard {
  margin-bottom: 15px;
  .card-body {
    padding-top: 1.5rem;
  }
}

.checked {
  width: fit-content;
  position: absolute;
  top: 5px;
  right: 5px;
}

.results {
  //flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  //min-height: 0;
  //height: 100%;
  padding: 15px;
}

