@import "src/index";

.modal-dialog {
  border: none;
  background: none;
  padding: 0;
  background: #fff;
  border: var(--border);
  border-radius: var(--border-radius-s);
  max-width: 1000px;
  transition: opacity var(--animation-duration) ease-in-out;
  z-index: 25;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &-back {
    z-index: 20;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
  }

  &-container {
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-duration) ease-in-out;

    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: 16px;

    &-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      color: #000;

      .details {
        font-weight: 400;
        font-style: italic;
      }
    }

    &-close {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: var(--light-gray-color);
      transition: 100ms color ease-in-out;
      outline: none;

      &:hover {
        color: var(--muted-text-color);
      }
    }
  }

  &__body {
    padding: .5vh 2.5vw;
    min-width: 500px;
    overflow: auto;

    @media (max-width: 678px) {
      min-width: 90vw;
    }

    @media (max-width: 450px) {
      min-width: 90vw;

      td {
        font-size: 2.5vw !important;
      }
    }
  }

  &__footer {
    border-top: var(--border);
    padding: 16px;
  }
}
