@import "../Text/index.scss";

table.customTable {
  margin: 10px auto;
  font-weight: bold;
  text-align: start;
  width: 100%;
  th, td {
    white-space: nowrap;
    box-sizing: border-box;
    border: 2px solid #9E9E9E;
    text-align: center;
    &.B {
      background: #90CAF9;
    }
    &.b {
      background: #BBDEFB;
    }
    &.G {
      background: #A5D6A7;
    }
    &.g {
      background: #C8E6C9;
    }
    &.R {
      background: #ef9a9a;
    }
    &.r {
      background: #ffcdd2;
    }
    &.S {
      background: #E0E0E0;
    }
    &.s {
      background: #EEEEEE;
    }

    &.ts {
      text-align: start;
    }

    &.te {
      text-align: end;
    }

    &.d {
      background: #BDBDBD;
      color: #fff;
      text-align: center;
    }
    &.D {
      background: #424242;
      color: #fff;
      text-align: center;
    }

    @include customText;

    &.bt {
      border-top-color: transparent;
    }
    &.br {
      border-right-color: transparent;
    }
    &.bb {
      border-bottom-color: transparent;
    }
    &.bl {
      border-left-color: transparent;
    }
  }
}
