table.customTable {
  margin: 0 auto;
  font-weight: bold;
  text-align: start;
  font-size: 3vw;
  th, td {
    white-space: nowrap;
    box-sizing: border-box;
    border: 3px solid #9E9E9E;
    &.B {
      background: #90CAF9;
    }
    &.b {
      background: #BBDEFB;
    }
    &.G {
      background: #A5D6A7;
    }
    &.g {
      background: #C8E6C9;
    }
    &.R {
      background: #ef9a9a;
    }
    &.r {
      background: #ffcdd2;
    }

    &.d {
      background: #BDBDBD;
      color: #fff;
      text-align: center;
    }

    span {
      &.p {
        color: #9C27B0;
      }
      &.r {
        color: #f44336;
      }
      &.g {
        color: #4CAF50;
      }
      &.b {
        color: #3F51B5;
      }
    }

    &.bt {
      border-top-color: transparent;
    }
    &.br {
      border-right-color: transparent;
    }
    &.bb {
      border-bottom-color: transparent;
    }
    &.bl {
      border-left-color: transparent;
    }
  }
}
