@import 'src/mixins';

.table {
  margin: 10px auto;
  font-weight: 600;
  font-size: var(--text-m);
  text-align: start;
  width: 100%;
  border-collapse: collapse;

  th, td {
    box-sizing: border-box;
    border: 2px solid var(--gray-9);
    text-align: center;
    height: 10px;

    &.B {
      background: #90CAF9;
    }

    &.b {
      background: var(--table-highlighted-cell);
    }

    &.G {
      background: #A5D6A7;
    }

    &.g {
      background: #C8E6C9;
    }

    &.R {
      background: #ef9a9a;
    }

    &.r {
      background: #ffcdd2;
    }

    &.S {
      background: #E0E0E0;
    }

    &.s {
      background: #EEEEEE;
    }

    &.ts {
      text-align: start;
    }

    &.te {
      text-align: end;
    }

    &.d {
      background: #BDBDBD;
      color: var(--light);
      text-align: center;
    }

    &.D {
      background: #90A4AE;
      color: var(--light);
      text-align: center;
    }

    &.nowrap {
      white-space: nowrap;
    }

    @include custom-text;

    &.bt {
      border-top-color: transparent;
    }

    &.br {
      border-right-color: transparent;
    }

    &.bb {
      border-bottom-color: transparent;
    }

    &.bl {
      border-left-color: transparent;
    }
  }
}
