
.table {
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  font-size: var(--text-m);
  font-weight: 600;
  line-height: 1.4;
  text-align: start;

  .full-width {
    width: 100%;
  }

  th,
  td {
    height: 10px;
    box-sizing: border-box;
    border: 2px solid var(--table-border-color);
    text-align: center;

    &.B {
      background: #90CAF9;
    }

    &.b {
      background: var(--table-highlighted-cell);
    }

    &.G {
      background: #A5D6A7;
    }

    &.g {
      background: #C8E6C9;
    }

    &.R {
      background: #ef9a9a;
    }

    &.r {
      background: #ffcdd2;
    }

    &.S {
      background: var(--table-highlighted-cell);
    }

    &.s {
      background: #EEE;
    }

    &.ts {
      text-align: start;
    }

    &.te {
      text-align: end;
    }

    &.d {
      background: #BDBDBD;
      color: var(--light);
      text-align: center;
    }

    &.D {
      background: #90A4AE;
      color: var(--light);
      text-align: center;
    }

    &.nowrap {
      white-space: nowrap;
    }

    &.bt {
      border-top-color: transparent;
    }

    &.br {
      border-right-color: transparent;
    }

    &.bb {
      border-bottom-color: transparent;
    }

    &.bl {
      border-left-color: transparent;
    }
  }
}
