:root {
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;
  --gray-a: #aaa;
  --gray-b: #bbb;
  --gray-c: #ccc;
  --gray-d: #ddd;
  --gray-e: #eee;
}

.color-theme--light {
  --primary-color: #1E88E5;
  --primary-color-fg: #fff;
  --muted-text-color: #9E9E9E;
  --light-gray-color: #999;
  --valid-color: #43A047;
  --invalid-color: #E53935;
  --yellow-color: #FFB300;
  --header-background-color: #272727;
  --input-border-color: #E0E0E0;
  --shadow: 0 8px 16px rgb(0 0 0 / 5%);
  --border: 1px solid var(--input-border-color);
  --outline: 2px solid var(--primary-color);
  --table-highlighted-cell: #81D4FA;
  --table-border-color: var(--gray-9);
  --overlay-color: #000;
  --main-background-color: #FAFAFA;
  --tips-background-color: #1976D2;
  --status-badge-color: #fff;
  --dark: #212121;
  --light: #fff;
  --transperent: rgb(1 1 1 / 0%);
}

.color-theme--dark {
  --primary-color: #42A5F5;
  --primary-color-fg: #fff;
  --muted-text-color: #BDBDBD;
  --light-gray-color: #999;
  --valid-color: #43A047;
  --invalid-color: #E53935;
  --yellow-color: #FFB300;
  --header-background-color: #272727;
  --input-border-color: #333;
  --shadow: 0 8px 16px rgb(0 0 0 / 5%);
  --border: 1px solid var(--input-border-color);
  --outline: 2px solid var(--primary-color);
  --table-highlighted-cell: #1976D2;
  --table-border-color: var(--gray-9);
  --overlay-color: #000;
  --main-background-color: #262626;
  --tips-background-color: #81D4FA;
  --status-badge-color: #fff;
  --dark: #fff;
  --light: #212121;
  --transperent: rgb(1 1 1 / 0%);
}
