@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

#app {
  --primary-color: #2962ff;
  --muted-text-color: #6c757d;
  --light-gray-color: #999;
  --valid-color: #28a745;
  --invalid-color: #dc3545;
  --yellow-color: #ffde03;
  --shadow: 0 8px 16px rgba(0, 0, 0, .15);
  --border: 1px solid rgba(0, 0, 0, .125);
  --border-radius-s: 5px;
  --border-radius-m: 8px;
  --line-width: 3px;
  --line-length: 25px;
  --base-margin: 8px;
  --animation-duration: .15s;

  --text-l: 20px;
  --text-l-line: 24px;

  --text-m: 16px;
  --text-m-line: 20px;

  --text-s: 14px;
  --text-s-line: 18px;

  --text-xs: 12px;
  --text-xs-line: 16px;

  --gap-size: 16px;
  --gap-size-s: 8px;
}

.primary-color {
  color: var(--primary-color);
}

.muted-color {
  color: var(--muted-text-color);
}

.text {
  &-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs-line);
  }

  &-s {
    font-size: var(--text-s);
    line-height: var(--text-s-line);
  }

  &-m {
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  &-l {
    font-size: var(--text-l);
    line-height: var(--text-l-line);
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app, input, select, button, a, textarea {
  font-family: Roboto, sans-serif;
  -webkit-appearance: none;
}

a {
  display: inline-block !important;
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: bold;
}
.cursor-pointer {
  cursor: pointer;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: var(--border);
  height: 0;
  box-sizing: content-box;
}

p {
  margin: 0;
  padding: 0;
}
