@use './colors';
@use './scrollbar';

body {
  --border-radius-s: 5px;
  --border-radius-m: 8px;
  --line-width: 3px;
  --line-length: 25px;
  --base-margin: 8px;
  --animation-duration: .15s;
  --transition-duration: .1s;
  --text-xxl: 28px;
  --text-xxl-line: 28px;
  --text-xl: 24px;
  --text-xl-line: 24px;
  --text-l: 20px;
  --text-l-line: 24px;
  --text-ml: 18px;
  --text-ml-line: 22px;
  --text-m: 16px;
  --text-m-line: 20px;
  --text-s: 14px;
  --text-s-line: 18px;
  --text-xs: 12px;
  --text-xs-line: 16px;
  --gap-size: 16px;
  --gap-size-s: 8px;

  .custom-text {
    span {
      &.p {
        color: #9C27B0;
      }

      &.r {
        color: #f44336;
      }

      &.g {
        color: #4CAF50;
      }

      &.b {
        color: #3F51B5;
      }

      &.s {
        color: #9E9E9E;
      }

      &.k {
        color: #a0522d;
      }

      &.B {
        font-weight: 600;
      }

      &.i {
        font-style: italic;
      }
    }
  }
}

.primary-color {
  color: var(--primary-color);
}

.muted-color {
  color: var(--muted-text-color);
}

.text {
  &-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs-line);
  }

  &-s {
    font-size: var(--text-s);
    line-height: var(--text-s-line);
  }

  &-m {
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  &-l {
    font-size: var(--text-l);
    line-height: var(--text-l-line);
  }
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

#app, input, select, button, a, textarea {
  appearance: none;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  display: inline-block !important;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-l);
}

h6 {
  font-size: var(--text-m);
}

h4, h5, h6 {
  margin: 0 0 8px;
  color: var(--dark);
  font-weight: 600;
}

hr {
  height: 0;
  box-sizing: content-box;
  border: none;
  border-top: var(--border);
  margin: 10px 0;
}

p {
  padding: 0;
  margin: 0;
  color: var(--dark);
}

i {
  color: var(--dark);
}

div {
  color: var(--dark);
}
