<!doctype html>
<html lang="en" style="height: 100%">
<head>
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" defer></script>
  <script src="is_com.js" defer></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#272727">
  <link rel="preload" href="data/basic.json" as="fetch" type="application/json" crossorigin="anonymous">
  <link rel="preload" href="data/translateStatistic.json" as="fetch" type="application/json" crossorigin="anonymous">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Interslavic Dictionary">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap">
  <title>Interslavic Dictionary</title>
  <meta name="Description"
        content="It is a dictionary of the Interslavic language with translations into most of the Slavic languages, as well as into English, German and others. The project is being developed by a community of fans of this zonal constructed language.">
</head>
<body>
<noscript>
  <h1>Interslavic Wordbook</h1>
  <p>To use the site "Interslavic Dictionary", please enable javascript in your browser.</p>
  <h3>About the project</h3>
  <p>It is a dictionary of the Interslavic language with translations into most of the Slavic languages, as well as
    into English, German and others. The project is being developed by a community of fans of this zonal constructed
    language.</p>
  <h3>The project's name in different languages:</h3>
  <ul>
    <li lang="en">Interslavic Wordbook</li>
    <li lang="isv-Latn">Medžuslovjansky slovnik</li>
    <li lang="isv-Cyrl">Меджусловјанскы словник</li>
    <li lang="ru">Межславянский словарь</li>
    <li lang="uk">Міжслов'янський словник</li>
    <li lang="be">Міжславянскі слоўнік</li>
    <li lang="pl">Słownik międzysłowiański</li>
    <li lang="cs">Mezislovanský slovník</li>
    <li lang="sk">Medzislovanský slovník</li>
    <li lang="sl">Medslovanski slovar</li>
    <li lang="hr">Međuslavenski rječnik</li>
    <li lang="bs">Međuslavenski rječnik</li>
    <li lang="cnr">Međuslavenski rječnik</li>
    <li lang="sr">Међусловенски речник</li>
    <li lang="mk">Меѓусловенски речник</li>
    <li lang="bg">Междуславянски речник</li>
  </ul>
  <h3>Source code:</h3>
  <a href="https://github.com/sonic16x/interslavic">https://github.com/sonic16x/interslavic</a>
</noscript>
<div id="app" class="color-theme--dark"><header class="header color-theme--light"><h1 class="logo"><span class="logo-img"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="30" fill="none"><path fill="#DE1C30" d="M22.5 15 45 30H0z"></path><path fill="#001C89" d="M22.5 15 0 0h45z"></path><path fill="#fff" d="M22.5 15 45 0v30z"></path><path fill="#FFDE00" d="M22.5 15 0 30V0z"></path></svg></span><span class="logo-text" data-testid="main-title">Medžuslovjansky slovnik</span></h1><button type="button" class="show-menu-button" aria-label="Menu button"><span class="lines"></span></button><nav class="menu"><a class="menu-item active" href="/dictionary">Slovnik</a><a class="menu-item" href="/grammar">Gramatika</a><a class="menu-item" href="/viewer">Spis slov</a><a class="menu-item" href="/settings">Nastrojky</a><a class="menu-item" href="/about">O programě</a></nav></header><main class="animation-container show dictionaryRoute"><div class="dictionary-page"><div class="controls"><div class="lang-selector"><div class="selector lang-selector__another hide-label"><label class="selector__title" for="from">from</label><select data-testid="lang-selector" id="from" class="selector__select"><option value="en">Anglijsky</option><option value="ru">Russky</option><option value="be">Bělorussky</option><option value="uk">Ukrajinsky</option><option value="pl">Poljsky</option><option value="cs">Češsky</option><option value="sk">Slovačsky</option><option value="sl">Slovensky</option><option value="hr">Hrvatsky</option><option value="sr">Srbsky</option><option value="mk">Makedonsky</option><option value="bg">Bulgarsky</option></select></div><button data-testid="change-direction" type="button" aria-label="Change translation direction" class="lang-selector__change-dir-button"><div style="color: var(--primary-color)"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 30 30"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7 10h16M20 7l1.125 1.125L23 10M20 13l1.125-1.125L23 10M23 20H7M10 23l-1.5-1.5L7 20M10 17l-1.5 1.5L7 20"></path></svg></div></button><div class="lang-selector__isv">Medžuslovjansky</div></div><div class="input-text input-text-l"><input data-testid="search-input" class="input-text__input" placeholder="Vpiši slovo" lang="en" autocapitalize="false" autocomplete="true" autocorrect="true" spellcheck="true" type="search" value=""><button class="input-text__clear-button" type="reset" aria-label="Clear input" disabled="">×</button></div><div class="expand"><div class="expand__container"><div class="lineSelector search-type-selector"><span class="slide" style="width: calc(100% / 3); margin-left: calc(0%);"></span><span class="item active">Početok</span><span class="item">Cělo</span><span class="item">Kde-libo</span></div><div class="selector flavorisation-selector"><label class="selector__title" for="pravopis">Pravopis</label><select id="pravopis" class="selector__select"><option value="2">Etimologičny</option><option value="3">Standardny</option><option value="4">Slovianto</option><option value="S">Sěverna flavorizacija</option><option value="J">Južna flavorizacija</option></select></div><div class="selector pos-selector"><label class="selector__title" for="čest_molvy">Čest molvy</label><select id="čest_molvy" class="selector__select"><option value="">vsaka</option><option value="noun">imennik</option><option value="pron">zaimennik</option><option value="adj">pridavnik</option><option value="v">glagol</option><option value="adv">prislovnik</option><option value="num">čislovnik</option><option value="prep">prědložnik</option><option value="conj">sveznik</option><option value="intj">medžumetje</option></select></div></div><div class="expand__button-wrap"><button class="expand__button" id="expand" type="button" aria-label="Expand"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="16" fill="none" viewBox="0 13 23 5"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m3 11.485 8.485 8.486 8.486-8.486"></path></svg></button></div></div></div></div></main><div class="loader loading"><div class="spinner" style="width: 4rem; height: 4rem; border-width: 0.3em;"><span></span></div><span class="loader__title" data-testid="dictionary-loading">Dostava slovnika</span></div><div class="modal-dialog-container"><div class="modal-dialog-back"></div><dialog class="modal-dialog"></dialog></div><div class="notification-container"><div class="notification"></div></div></div>
</body>
</html>
