@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'src/colors';

body {
  --border-radius-s: 5px;
  --border-radius-m: 8px;
  --line-width: 3px;
  --line-length: 25px;
  --base-margin: 8px;
  --animation-duration: .15s;
  --transition-duration: .1s;

  --text-xxl: 28px;
  --text-xxl-line: 28px;

  --text-xl: 24px;
  --text-xl-line: 24px;

  --text-l: 20px;
  --text-l-line: 24px;

  --text-ml: 18px;
  --text-ml-line: 22px;

  --text-m: 16px;
  --text-m-line: 20px;

  --text-s: 14px;
  --text-s-line: 18px;

  --text-xs: 12px;
  --text-xs-line: 16px;

  --gap-size: 16px;
  --gap-size-s: 8px;
}

.primary-color {
  color: var(--primary-color);
}

.muted-color {
  color: var(--muted-text-color);
}

.text {
  &-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs-line);
  }

  &-s {
    font-size: var(--text-s);
    line-height: var(--text-s-line);
  }

  &-m {
    font-size: var(--text-m);
    line-height: var(--text-m-line);
  }

  &-l {
    font-size: var(--text-l);
    line-height: var(--text-l-line);
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app, input, select, button, a, textarea {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  -webkit-appearance: none;
}

a {
  display: inline-block !important;
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bold {
  font-weight: 700;
}
.cursor-pointer {
  cursor: pointer;
}

h4 {
  font-size: var(--text-xl);
}

h5 {
  font-size: var(--text-l);
}

h6 {
  font-size: var(--text-m);
}

h4, h5, h6 {
  color: var(--dark);
  font-weight: 600;
  margin: 0 0 8px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: var(--border);
  height: 0;
  box-sizing: content-box;
}

p {
  margin: 0;
  padding: 0;
  color: var(--dark);
}
i {
  color: var(--dark);
}
div {
  color: var(--dark);
}
