@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

#app {
  --primary-color: #2962ff;
  --muted-text-color: #6c757d;
  --light-gray-color: #999;
  --valid-color: #28a745;
  --invalid-color: #dc3545;
  --yellow-color: #ffeb3b;
  --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  --border: 1px solid rgba(0, 0, 0, .125);
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --line-width: 3px;
  --line-length: 25px;
  --base-margin: 8px;
  --animation-duration: 0.2s;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app, input, select {
  font-family: Roboto, sans-serif;
}

a {
  display: inline-block !important;
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 8px;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: var(--border);
  height: 0;
  box-sizing: content-box;
}

p {
  margin: 0;
  padding: 0;
}
