:root {
  --text-xxl: 28px;
  --text-xxl-line: 28px;
  --text-xl: 24px;
  --text-xl-line: 24px;
  --text-l: 20px;
  --text-l-line: 24px;
  --text-ml: 18px;
  --text-ml-line: 22px;
  --text-m: 16px;
  --text-m-line: 20px;
  --text-s: 14px;
  --text-s-line: 18px;
  --text-xs: 12px;
  --text-xs-line: 16px;
}
