.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap-size);

  &__title {
    margin-bottom: var(--gap-size);
    text-align: center;
  }

  &__sub-title {
    margin-bottom: var(--gap-size);
    text-align: center;
  }

  &-offline {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-link {
    width: 100%;
    max-width: 670px;
    box-sizing: border-box;
    padding: var(--gap-size);
    border-radius: var(--border-radius-m);
    margin-bottom: var(--gap-size);
    background: var(--light);
    box-shadow: var(--shadow);

    iframe {
      border-radius: var(--border-radius-m);
      background: #fff;
    }

    &__text {
      margin-bottom: var(--gap-size-s);
      color: var(--dark);
      font-size: var(--text-l);
      line-height: var(--text-l-line);
    }

    .iframe-wrapper {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-m);
      }
    }
  }
}
