@import "src/index";

.settings {
  background: #fff;
  pointer-events: all;
  max-height: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;

  &__title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;

    &-minor {
      margin: 0;
      font-size: 19px;
      font-weight: 600;
    }
  }
}
