.settings {
  background: #fff;
  pointer-events: all;
  max-height: 100%;
  height: 100%;
}

.settingsContent {
  max-width: 1024px;
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  & div.isvSearchLetters div.custom-checkbox {
    display: inline-block;
    padding-right: 1rem;
  }
}

@media (min-width: 1040px) {
  .settingsContent {
    padding-right: 5px;
    padding-left: calc(100vw - 100% + 5px);
  }
  .settings {
    overflow-x: hidden;
    box-sizing: content-box;
  }
}