.word-error-dialog {
  background: var(--light);
  border: var(--border);
  border-radius: var(--border-radius-s);

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    padding: 16px;

    &-title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      color: var(--dark);

      .details {
        font-weight: 400;
        font-style: italic;
      }
    }

    &-close {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: var(--light-gray-color);
      transition: 100ms color ease-in-out;

      &:hover {
        color: var(--muted-text-color);
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    min-width: 304px;

    &-selector {
      margin-top: 16px;
      margin-bottom: 16px;
      width: 100%;
    }

    &-text {
      width: 100%;
    }

    &-recaptcha {
      margin-top: 16px;
    }
  }

  &__footer {
    border-top: var(--border);
    padding: 16px;
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.modal-loader, .word-error-dialog-confirm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(12, 12, 12, .4);
  border-radius: var(--border-radius-s);
}
