.word-error-dialog {
  border: var(--border);
  border-radius: var(--border-radius-s);
  background: var(--light);

  &-offline {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-s);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: var(--border);

    &-title {
      color: var(--dark);
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;

      .details {
        font-style: italic;
        font-weight: 400;
      }
    }

    &-close {
      border: none;
      background: none;
      color: var(--light-gray-color);
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      transition: var(--animation-duration) color ease-in-out;

      &:hover {
        color: var(--muted-text-color);
      }
    }
  }

  &__body {
    display: flex;
    min-width: 304px;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    &-selector {
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    &-text {
      width: 100%;
    }

    &-recaptcha {
      margin-top: 16px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: var(--border);

    button {
      width: 100%;

      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.modal-loader, .word-error-dialog-confirm {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-s);
  background: rgb(12 12 12 / 40%);
}
