name: Coveralls
on:
  push:
    branches:
      - master
jobs:
  coveralls:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: NPM install
        uses: bahmutov/npm-install@v1

      - name: Build
        run: |
          npm run lint
          npm run test

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
