.animationContainer {
  &.show {
    animation: show 0.1s linear;
  }
  &.hide {
    animation: hide 0.1s linear;
  }
  width: 100%;
  height: 100%;
  &.grammarRoute {
    height: calc(100% - 60px);
  }
  overflow: auto;
  margin: 0;
  padding: 0;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
